<div class="main_div">
  <img
    src="/assets/rs.png"
    alt="logo"
    style="width: 14%; margin-left: 20px; padding-top: 1%"
  />
  <div class="main2_div">
    <div class="border_div">
      <div class="header">COR Simulator</div>

      <!-- LOGO -->
      <div class="body row">
        <div class="row d_row">
          <div class="col-sm text-right">
            <label>Username</label>
            <br />
            <label>Password</label>
          </div>
          <div class="col-sm">
            <form>
              <input
                type="text"
                name="userName"
                placeholder="Username"
                id="username"
                required
                autofocus
                [(ngModel)]="userName"
              />
              <br />
              <input
                type="password"
                name="pwd"
                placeholder="*******"
                [(ngModel)]="pwd"
              />
              <br />

              <button
                nz-button
                nzType="primary"
                class=""
                [disabled]="isLoading"
                (click)="handleAuthentication()"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
