.main_div {
  height: 100%;
}

.main2_div {
  width: 100%;
  height: 88%;
  padding: 2% 3%;
}

.border_div {
  height: 100%;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 20px;
}

.header {
  height: 9%;
  margin: 20px;
  text-align: center;
  background-color: rgb(76, 140, 65);
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
  padding-top: 4px;
}

.body {
  height: 66%;
  margin: 20px;
  overflow-x: auto;
  margin-top: 24px;
  padding-left: 3rem;
  padding-right: 3rem;

  thead tr th {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .tbl_subhd {
    .bg_yel {
      color: #000000;
      background-color: rgb(255, 255, 0) !important;
    }

    .prz {
      text-align: right;
      padding-right: 0 !important;
    }

    .plz {
      text-align: left;
      padding-left: 0 !important;
    }
  }

  .tbl_hd th {
    color: #ffffff;
    text-align: center;
    background-color: #5b9bd5;
  }

  tr {
    border: 0px solid #ffffff;
  }

  .dummy {
    width: 1%;
    background-color: #ffffff !important;
  }

  .sno {
    width: 3%;
  }

  .addR {
    width: 12%;
    color: #000000 !important;
    background-color: #f8cbad !important;
  }

  .list {
    width: 20%;
  }

  .select,
  input {
    width: 100%;
  }

  input {
    height: 32px;
    padding-left: 12px;
    border: 1px solid #d9d9d9;
  }

  input:focus-visible {
    outline: none;
  }

  .addRemove {
    text-align: center;
    button {
      width: 100%;
      padding-top: 0px;
      background-color: rgb(231, 230, 230);
    }
  }

  .addRemove_last {
    button {
      width: 50%;
      padding-top: 0px;
      background-color: rgb(231, 230, 230);
    }

    .minus_btn {
      padding-top: 3px;
    }
  }
}

::ng-deep {
  .ant-modal {
    width: 66em !important;

    .ant-modal-header {
      text-align: center;
      background-color: #00b0f0;
    }

    .table_modal {
      .sno {
        width: 1% !important;
      }
      .w_mdl {
        width: 20% !important;
      }
      .list {
        width: 10% !important;
      }

      tr {
        border: 1px solid #d7d5d7;
        text-align: center !important;
      }
    }

    .bg-yel {
      background-color: #ffd966ab;
    }

    .bg-blu {
      color: #ffffff;
      background-color: rgb(0, 32, 96);
    }

    .close_summary {
      color: #000000;
      background-color: #ffd966;
    }

    .save_proceed {
      background-color: rgb(0, 32, 96);
    }
  }

  .ant-message-notice-content {
    background: #ff000085;
    color: white;
    background-color: #ff000085;
  }

  .ant-message-custom-content {
    font-size: 22px;

    svg {
      color: #ffffff;
      margin-bottom: 9px;
    }
  }
}

.footer {
  height: 12%;
  margin: 20px;

  button {
    width: 150px;
    color: #ffffff;
    background-color: rgb(0, 32, 96);
  }

  .summbtn {
    color: #000000;
    background-color: rgb(255, 217, 102);
    border-color: #000000;
  }

  .next {
    right: 6%;
    position: fixed;
  }
}
