<div class="main_div">
  <div style="display: flex">
    <img
      src="/assets/rs.png"
      alt="logo"
      style="width: 14%; margin-left: 20px; padding-top: 1%"
    />

    <button
      nz-button
      nzType="primary"
      style="
        position: absolute;
        right: 0;
        margin: 2%;
        display: flex;
        background-color: #002060;
      "
      class="logout"
      (click)="handleLogout()"
    >
      <img
        src="/assets/logout.svg"
        alt="logo"
        style="transform: rotate(180deg); margin-top: 3px"
      />
      &nbsp; Logout
    </button>
  </div>

  <div class="main2_div">
    <div class="border_div">
      <div class="header">Old Car - Additional Information 2</div>

      <div class="body d_row">
        <div class="note">
          <label>GWP in Lakhs Per Annum</label>
        </div>

        <div class="row">
          <div class="col l_col">
            <div class="row">
              <div class="col">
                <div class="row mb-1">
                  <div class="col">
                    <label class="g_head">Car Type</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label class="g_head mb-3">Type</label>
                    <label class="bg_b mb-1">Old Car</label>
                  </div>

                  <div class="col">
                    <label class="g_head mb-3">GWP</label>
                    <label class="bg_b mb-1">{{ old_gwp }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col r_col">
            <div class="row">
              <div class="col">
                <div class="row mb-1">
                  <div class="col">
                    <label class="pg_head">NCB Flag</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label class="g_head mb-3"
                      >NCB<span class="text-danger">*</span></label
                    >
                    <input
                      class="mb-1"
                      type="number"
                      placeholder="100"
                      id="ncb"
                      (change)="handleNcbUpdate()"
                      [(ngModel)]="old_ncb"
                      [ngClass]="{ error: checkError('old_ncb') }"
                    />
                  </div>

                  <div class="col">
                    <label class="lg_head mb-3">Non-NCB</label>
                    <input
                      class="mb-1"
                      disabled
                      type="number"
                      placeholder="00"
                      id="non_ncb"
                      [value]="old_non_ncb"
                      [ngClass]="{ error: checkError('old_non_ncb') }"
                    />
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="row mb-1">
                  <div class="col">
                    <label class="pg_head">Vehicle Age</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label class="g_head mb-3">
                      1-4 <span class="text-danger">*</span>
                    </label>
                    <input
                      class="mb-1"
                      type="number"
                      placeholder="00"
                      id="four"
                      [(ngModel)]="old_four"
                      (change)="handleVaUpdate()"
                      [ngClass]="{ error: checkError('old_four') }"
                    />
                  </div>

                  <div class="col">
                    <label class="g_head mb-3">
                      5-10 <span class="text-danger">*</span></label
                    >
                    <input
                      class="mb-1"
                      type="number"
                      placeholder="00"
                      id="ten"
                      [(ngModel)]="old_ten"
                      (change)="handleVaUpdate()"
                      [ngClass]="{ error: checkError('old_ten') }"
                    />
                  </div>

                  <div class="col">
                    <label class="lg_head mb-3"> &gt; 10 </label>
                    <input
                      disabled
                      class="mb-1"
                      type="number"
                      placeholder="00"
                      id="above_ten"
                      [value]="old_above_ten"
                      [ngClass]="{ error: checkError('old_above_ten') }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <button
          nz-button
          n
          class="g_head"
          zType="primary"
          class=""
          (click)="handleBackPage()"
        >
          &larr; Back
        </button>
        <button
          nz-button
          n
          class="g_head"
          zType="primary"
          class="next"
          (click)="handleNextPage()"
          [disabled]="isLoading"
        >
          Next &rarr;
        </button>
      </div>
    </div>
  </div>
</div>
